<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minionproject"
        tools:targetApi="31">
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false"
            android:label="AdminActivity"
            android:theme="@style/Theme.Minionproject" />
        <activity
            android:name=".user.UserActivity"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.Minionproject" />
        <activity android:name=".user.CaptureAct"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"/>
        <activity
            android:name=".organizer.OrganizerActivity"
            android:exported="false"
            android:label="OrganizerActivity"
            android:theme="@style/Theme.Minionproject" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>